*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

:root{
    --font-one: 30px;
    --font-two: 25px;
    --font-three: 18px;
    --font-small: 13px;

}

.header {
    background-image: url("bgp.jpg") ; /* Replace with your image URL */
    background-repeat: no-repeat;
    background-position: center; /* You can adjust this as needed */
    text-align: center; /* Center the header text */
    color: white; /* Set the text color */
    height: auto;
    width: 100%;
    background-size: cover;
    margin-top: 0%;
}

.addline{
   margin-top: 0px;
    
}

header input{
    border-radius: 10px;
    float: right;
}
#alibaba{
float: left;
}

.logoline{
    width: 100%;
    float: right;
}

.cat{
    width: 100%;
    a{
        padding: 8px;
        color: rgb(254, 254, 254) ;
        text-decoration: none;
    }
}
.catline{
    float: left; 
}
.h{
    font-size: var(--font-two);
}

.helpline{
    float: right;
}

.vidline{
    a{
        color: white;
        float: left;
        text-decoration: none;
       
    }
}
.vid{
    float: left;
    width: 100%;
    margin-top:50px;
}

#cocreate{
width: 100%;
height:auto;
margin: 0;
padding: 0;
}
#icons{
    float: right;
}
.search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  .search-button {
    position: relative;
    left: 20px;
    top: -5px;
    padding: 8px 16px;
    background-color: #fe5405;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
  }
  .btn{
    border-radius: 30px;
    border: 2px solid #e0f2f7;
    background-color: transparent;
    color: white;
    padding: 0 30px 0 30px;
    font-size: 10px;
    text-decoration: none;
    display: inline;

}
.button{
    display: flex;
    justify-content: flex-start;
    

}
.button p {
    margin-right: 1rem;
}
button{
    margin: 20px 10px 0px 20px;
}

.menu{
    background-color: #390202;
    display: flex;
    justify-items:center;
   

}
.trading {
    margin: 2%;
    height: fit-content;
    width: fit-content;
    backdrop-filter: blur(2px) white;
    background-color: #3a190b;
    border-radius: 30px;
    padding:10px;
    color: white;
    


}
.tradder:hover{
    background-color: rgba(255, 102, 0, .12);
    cursor: pointer;
}

.home{
    color: #000;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.category-number{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 10px;
    width: 100%;
    float: right;
}
.industry_category{
    width: 100%;
    display: flex;
}
.number-items{
    padding: 20px;
    text-align: center;
    margin-left: auto;
    
}
#h1{
    width: 100%;
}
.circle{
    display: flex;
    flex-direction: column;
}
.first_line{
    display: flex;
    flex-direction: row;
}
.business{
    border: solid rgba(128, 128, 128, 0.42);
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.business img{
    width: 4rem;
    height: auto;
    
}
.business p{
    text-wrap: wrap;
}
