*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
 header{
    height: 360px;
    /* margin: 0; */
  background-image: url("bgp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.image img{
    width: 100%;
    height: 20px;
}

.alibaba{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 0.7rem;
    
    justify-content: space-between;
    
}
.alibaba_icon img{
    width: 7rem;
    height: auto;
}
.font_alibaba{
    width: 100%;
    display: flex;
    flex-flow:row nowrap ;
    padding: 3px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 8px;

}
.font_alibaba a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: x-small;
    
    margin: 0 7px 0 7px;
}
.font_alibaba img{
    display: flex;
    width: 1rem;
}
#gb{
    display: flex;
}
#button_line{
    border-radius: 17px;
    padding: 3px;
    width: 4rem;
    background-color: #f60;
    border: solid #f60;
    font-size: x-small;
    color: white;
}
.category {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}
.help{
    display: flex;
    padding-left: -2px;
    padding-right: 2px;
    font-size: 0.5rem; 
}
.center {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 5px 0 5px;
    font-size: 0.5rem;
} 
.center a{
    margin: 0 7px 0 7px;
    text-decoration: none;
    color: white;
}
.help a{
    color: white;
    text-decoration: none;
    margin: 0 7px 0 7px;
}
.youtube{
    color: white;
    margin: 60px 0 60px 0;
}
.youtube a{
    color: white;
    margin: 0 0 0 10px;
    text-decoration: none;
    font-size: 0.8rem;
}
.youtube h2{
    margin: 10px 0px 0px 10px;
}
.search_bar{
display: flex;
align-items: center;
width: 400px;
height: 15px;
padding: 10px;
background-color: #f0f0f0;
border: none;
margin-top: 0.5rem;
border-radius: 15px;
font-size: 16px;
position: relative;
bottom: 40px;
}
#search-input{
    width: 80%;
    padding: 1px;
    justify-content: center;
    border: 1rem;
    border-radius: 8px;
    font-size: 10px;
}
.search_bar button{
   float: right;
    height: 1.5rem;
    width: 20%;
    margin: 1px 0 5px 0;
    padding: 0;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    background-color: #f60;
    border: solid #f60;
}
.main{

}
.tags{
    display: flex;
    flex-flow: row;
    background-color: #3a190b;
    color: white;
    height: 220px;
    padding: 60px 0 100px 0;  
} 
.menu{
    display: flex;
    justify-content: space-between;
    
}
.menu .tag{
    width: 25%;
    background-color: hsla(0, 0%, 100%, .03);
    border-radius: 10px;
    display: block;
    padding: 18px;
    margin: 0 20px 0 20px;

}
.menu .tag:hover{
    width: 25%;
    background-color: rgba(255, 102, 0, .12);
}

.carry{
    display: flex;
    background-color: #8971671f;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    
}
.carry img{
   display: block;
   width: 3rem;
   
   
}
.title{
    margin: 1rem 0 1rem 0rem;
    font-size: x-large; 
}

.slider{
    background-color: white;
    height: 300px;
    margin-top: 9rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
}
.bold{
    font-size: xx-large;
}
.counter{
display: flex;
width: 35%;
flex-flow: column nowrap;
gap: 25px;


}
.counter_sub{
    display: flex;
    flex-flow: row nowrap;
}


.grid{
    display: flex;
    flex-flow: column wrap;
    border-left: solid 4px rgb(239, 231, 231);
    width: 100%;
    padding-left: 0.8rem;

}
.grid h3{
    color: #f60;
    font-size: 2.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.grid p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.shop{
    height: 600px;
    background-color: rgba(244, 239, 236, 0.781);
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
.top{
   font-size: x-large; 
   
}






.container{
    width: 80%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}